@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.shopTitle {
    margin-top: 30px;
    text-align: center;
  }
  .shopTitle h1{
    font-size: 40px;
    font-family: "Quicksand";
    color: #f1356d;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 220px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 300px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    transition: 0.4s;
  }
  
  .addToCartBttn:hover {
    background-color: #f1356d;
    color: white;
    cursor: pointer;
  }
