@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f1356d;
}
body{
    margin: 0;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 27px;
    font-family: "Quicksand";
    transition: 0.4s;
    font-weight: 500;
}
.links a:hover{
    color: blueviolet;
}